<!doctype html>
<html>
<head>
	<title>Beribuku</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="frame">
		<div class="header">
			<div class="row">
				<div class="col-md-4">
					<ul class="logo">
						<li><a href="index.html"><img src="img/logo.png">Beribuku</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="navigasi">
						<li><a href="index.html">Home</a></li>
						<li><a href="program.html">Program</a></li>
						<li><a href="about.html">About</a></li>
						<li>
							<div class="dropdown">
							  	<a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    	Contact
							    	<span class="caret"></span>
							  	</a>
							  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							    	<li>Risma : 0858-8006-1080</li>
							    	<li>mail@beribuku.com</li>
							  	</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="donasi">
						<li><a href="donasi.html"><img src="">Donasi</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="main-content">
				<div class="title-page">
					<div class="page-name">
						<img src="img/logo-white.png"><span>About</span>
					</div>	
				</div>
				<div class="list-about">
					<div class="about">
						<div class="title">
							<p>
								<h2>Buku Untuk NTT</h2>
							</p>
						</div>
						<div class="paragraph">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
					<div class="tim">
						<div class="title">
							<p>
								<h2>Dokumentasi</h2>
							</p>
						</div>
						<div class="paragraph">
							<div class="row">
								<div class="col-md-6">
									<img src="img/program.png" class="img-responsive">
								</div>
								<div class="col-md-6">
									<img src="img/program.png" class="img-responsive">
								</div>
								<div class="col-md-6">
									<img src="img/program.png" class="img-responsive">
								</div>
								<div class="col-md-6">
									<img src="img/program.png" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="footer">
			<div class="row">
				<div class="container">
					<div class="col-md-5">
						<div class="support">
							<h5>Didukung oleh :</h5>
							<ul>
								<li><img src="img/logo-fasilkom.png"></li>
								<li>Formal Method in Software Engineering Lab Fasilkom UI</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="about">
							<h5>About :</h5>
							<ul>
								<li><a href="">Visi dan Misi</a></li>
								<li><a href="">Tim Kami</a></li>
							</ul>
						</div>
						<div class="contact">
							<h5>Contact :</h5>
							<ul>
								<li>mail@beribuku.com</li>
								<li>0858-8006-1080</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media">
							<h5>Media :</h5>
							<ul>
								<li><img src="img/fb.png"></li>
								<li><img src="img/yt.png"></li>
								<li><img src="img/tw.png"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="copy">
			&copy; 2014 Beribuku
		</div>
	</div>
</body>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</html>